


body { 
            width: 75%;
            max-width: 700px;
            min-height: 320px;
            font-size: 100%;
            font-family: 'Libre Baskerville', Georgia; 
            margin: auto;
            color: darkgray;
            line-height: 1.7em;
        }

section {padding 4em 0 4em 0}


 /*-----------------HYPERLINKS--------------*/

        a:link {
        text-decoration: none;
            letter-spacing: 2px;
}
        /* unvisited link */
        a:link {
        color: hotpink;
}

/* visited link */
        a:visited {
        color: darkgray;
}

/* mouse over link */
a:hover {
    color: lightpink;
    border-bottom: 1px dotted;
}


/*----------- TYPOGRAPHY------------------- */
   
p, li {
    line-height: 1.8em;
    margin-bottom: 2em;
} 

h1 {
        font-weight: bolder;
        font-size: 3.5em;
        text-align: center;
        margin-bottom: .1em;
        }


        h2 {
        font-weight: normal;
        color: hotpink;
        font-size: 2em;
        text-align: center;
        margin-bottom: 1em;
        }

        h3 {
        font-weight: normal;
        color: hotpink;
        font-size: 1.5em;
        text-align: center;
        }

hgroup {
    margin-bottom: 3em;
}

header h2 {text-align: center;
font-style: italic;
font-size: 1.8em;
}

.intro {
        font-size: 1.25em;
        line-height: 1.7em;
}


/* -------------NAV --------------- */

nav {
        border-top: 1px solid hotpink;
        border-bottom: 1px solid hotpink;
}

nav ul {
    text-align: center;
}

nav ul li { display: inline;
            margin: 10px;
}


blockquote {
    padding: 1em 0 2em 0;
    line-height: 1.2em;
    font-size: 1.30em;
    margin: 0;
}
blockquote {
            padding: 2em 0;
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 0;
            border-top: 1px solid hotpink;
            border-bottom: 1px solid hotpink;
}

blockquote p {
    color: hotpink;
    hanging-punctuation: first;
    text-indent: -0.5em;
}

blockquote cite { 
    font-style: italic;
    font-size: 0.75em;
}

table caption {
    font-weight: bolder;
    text-align: center;
    color: hotpink;
    text-transform: uppercase;
    font-size: .95em;
    padding-bottom: .6em;
}

table {
            table: center;
            margin: auto;
            width: 100%
            display: table;
            border-collapse: collapse;
            border-spacing: 3px;
}

th {
            color: #333;
            text-transform: uppercase;
            font-weight: normal;
            text-align: center;
            background: hotpink;
}
 
table, th, td {
            border: 1px solid black;
}

th, td {
    padding: .6em;
}

footer {
    line-height: 1.2em;
    padding-bottom: 2em;
}

.footer padding { padding-top: 3em;
}

img {
    display: block;
    margin: 1em auto; /* This sets the margin top and bottom to 0px. The auto on the left and right will automatically calculate the space either side and split it evenly between the two margins. */
    padding: 0;
    max-width: 100%; /* This means that the images will resize to fit the parent container instead of just rendering at its native width and overflowing its containing box. */
   /* border: #c06 5px solid; */
    
    
    /*------------------ TABLET ----------------------*/
/* @media (max-width: 50em) {
    
   body {
    background: aqua;  
    }
    
article {
    width: 95%;
    padding: 0.5em;
    } 
    
    img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%;
}
} */

/*----------- SMARTPHONE ----------- */
 /*@media (max-width: 31em) {
    
   body {
    margin: auto 0;
    background: #BEE9C7;
    width: 100%;
    font-size: 110%;
    }
    
article {
    width: 90%;
    } 
h1 {font-size: 2.9em;}   
    
hgroup h2 {font-size: 1.5em;
padding-top: 0.5em}      
}
nav ul li {font-size: .75em;
        margin: 10px} */
