body { 
            width: 90%;
            max-width: 650px;
            min-height: 320px;
            font-size: 100%;
            font-family: 'Libre Baskerville', Georgia; 
            margin: auto;
            color: darkgray;
            line-height: 1.5em;
        }
    


 /*-----------------HYPERLINKS--------------*/

        a:link {
        text-decoration: none;
            letter-spacing: 2px;
}
        /* unvisited link */
        a:link {
        color: hotpink;
}

/* visited link */
        a:visited {
        color: darkgray;
}

/* mouse over link */
a:hover {
    color: lightpink;
    border-bottom: 1px dotted;
}


/*----------- TYPOGRAPHY------------------- */
   
  h1 {
        font-weight: bolder;
        font-size: 3.4em;
        text-align: center;
        }


        h2 {
        font-weight: normal;
        color: hotpink;
        font-size: 2em;
        line-height: 1em;
        }

        h3 {
        font-weight: normal;
        color: hotpink;
        font-size: 1.5em;
        text-align: left;
        line-height: 1em;
        padding: -0.5em 0 1em 0;
        }

header h2 {text-align: center;
font-style: italic;
font-size: 2.3em;
}


/* -------------NAV --------------- */

nav {
        border-top: 1px solid hotpink;
        border-bottom: 1px solid hotpink;
}

nav ul {
    text-align: center;
}

nav ul li { display: inline;
            margin: 10px;
}


blockquote {
    padding: 2em 0;
    line-height: 1.2em;
    font-size: 1.30em;
    margin: 0;
}
blockquote {
            border-top: 1px solid hotpink;
        border-bottom: 1px solid hotpink;
}

blockquote cite { 
    font-style: italic;
    font-size: 0.75em;
}

table caption {
    font-weight: bolder;
    text-align: left;
    color: hotpink;
    text-transform: uppercase;
}

table {
            margin: auto;
            width: 100%
            display: table;
            border-collapse: collapse;
            border-spacing: 2px;
}

table.head, th {
            color: #333;
            text-transform: uppercase;
            font-weight: normal;
            text-align: left;
            background: hotpink;
}
 
table, th, td {
            border: 1px dotted #fff;
}

